@import "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 $header-height 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $slate;
}

h1,
h2,
h3,
h4 {
  color: $slate;
  font-weight: $font-semi-bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.numbered-heading {
  position: relative;
  margin-bottom: $mb-2;
  overflow: hidden;
  font-size: clamp(26px, 5vw, $fz-heading);
  white-space: nowrap;
  width: 100%;
  color: $white;
  &:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $slate;
    position: absolute;
    top: 50%;
    margin-left: $mb-1;
  }
  &:before {
    content: "0" counter(numbered) ".";
    counter-increment: numbered;
    display: inline-block;
    font-size: $h1-font-size;
    font-weight: $font-regular;
    font-family: $second-font;
    color: $green;
    margin-right: $mb-0-5;
  }
}

// Customizable Elements
body {
  counter-reset: section;
  position: relative;
  background: url("/assets/images/ColoredPatterns.svg");
  background-size: 150%;
  background-repeat: repeat-y;
  background-position: 100% 50%;
  scroll-behavior: smooth;
  cursor: url("/assets/images/cursor.png"), auto;
  scrollbar-color: $dark-slate $navy;
}
button,
a {
  &:hover {
    cursor: url("/assets/images/pointer.png"), auto;
  }
}
#content {
  //   background-color: $navy;
  counter-reset: numbered;
}
main {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0;
  }
}
@media only screen and (max-width: 768px) {
  main {
    scroll-snap-type: none;
  }
  section {
    scroll-snap-align: none;
  }
}
.section {
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  scroll-snap-align: start;
  overflow: hidden;
}

.section__title {
  font-size: $h1-font-size;
  color: $lightest-slate;
}

.section__subtitle {
  display: block;
  font-size: $small-font-size;
  margin-bottom: $mb-3;
}
.section__title,
.section__subtitle {
  text-align: center;
}

// Layout adjustments
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  position: fixed;
  z-index: $z-fixed;
  //   background-color: $body-color;
}
.inner {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
