@import "./variables";
@import "./base";
body {
  counter-reset: section;
  position: relative;
  background: url("/assets/images/ColoredPatterns.svg");
  background-size: 150%;
  background-repeat: repeat-y;
  background-position: 100% 50%;
  scroll-behavior: smooth;
  cursor: url("/assets/images/cursor.png"), auto;
  scrollbar-color: $dark-slate $navy;
}
button,
a {
  &:hover {
    cursor: url("/assets/images/pointer.png"), auto;
  }
}
// Header
header {
  position: fixed;
  left: $mb-2;
  bottom: 0;
  height: 50vh;
  transition: width 0.5 ease-in-out;
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    margin: $mb-1 $mb-0-5;
    background-color: $lightest-slate;
  }
  .nav--menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: width 0.5s ease-in-out;
    margin-left: $mb-1-5;

    .nav--item {
      &:before {
        counter-increment: section;
        content: "0" counter(section) ".";
        display: inline-block;
        left: 0;
        font-family: $second-font;
        color: $green;
      }
      width: 0;
      overflow: hidden;
      transition: width 0.25s ease-in-out;
      white-space: nowrap;
      cursor: url("/assets/images/pointer.png"), auto;
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top: 0;
        border-bottom: 10px solid $lightest-slate;
        z-index: 1;
        left: -20px;
        margin-top: $mb-0-25;
        transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
      }
      a {
        position: relative;
        font-family: $second-font;
      }
      &:hover,
      &.active {
        width: 120px;
        &:after {
          transform: rotate(90deg);
          border-color: $green;
          border: 5px solid transparent;
          border-top: 0;
          border-bottom: 10px solid $green;
        }
      }
    }
  }
}

.hero {
  height: 100%;
  .hero__container {
    align-items: center;
    width: 100%;
    .hero__content {
      width: 100%;
      h1 {
        font-family: $second-font;
        font-size: $normal-font-size;
        font-weight: $font-medium;
        color: $green;
      }
      h2 {
        font-family: $body-font;
        font-size: $big-font-size;
        color: $lightest-slate;
        font-weight: $font-semi-bold;
        font-size: 80px;
      }
      h3 {
        font-family: $body-font;
        font-size: $big-font-size;
        color: $slate;
        font-weight: $font-semi-bold;
        font-size: 80px;
      }
      p {
        margin-top: 20px;
        font-family: $body-font;
        font-size: $h3-font-size;
        color: $slate;
        font-weight: $font-semi-bold;
        width: 45%;
      }
    }
  }
}

a {
  color: $green;
  text-decoration: none;
  font-family: $body-font;
}

.btn {
  margin-top: $mb-3;
  display: inline-block;
  padding: $mb-1 $mb-2;
  background-color: transparent;
  color: $green;
  border-color: $green;
  border-radius: $border-radius;
  border-style: solid;
  font-family: $second-font;
  font-size: $h3-font-size;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: rgba($color: $green, $alpha: 0.3);
  }
}

// Section header with numbering

// about section
.about {
  .inner {
    display: grid;
    grid-template-columns: 5fr 4fr;
    align-items: flex-start;
  }
  &-text {
    p {
      margin-bottom: $mb-1;
      font-size: $h3-font-size;
      text-align: justify;
    }
  }
  .about-pic {
    width: 80%;
    border-radius: $border-radius;
    border-radius: 60% 40% 40% 80%;
    .wrapper {
      filter: hue-rotate(100deg);
      transition: filter 0.25s ease-in-out;
      img {
        border-radius: 60% 40% 40% 80%;
        transition: border-radius 0.25s ease-in-out;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid $green;
        top: 20px;
        left: 20px;
        z-index: -1;
        border-radius: 60% 40% 40% 80%;
        transition: border-radius 0.25s ease-in-out;
      }
      &:hover {
        filter: hue-rotate(0deg);
        img {
          border-radius: 3rem;
        }
        &:after {
          border-radius: 3rem;
        }
      }
    }
  }
  .skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: $mb-0-5;
    margin-top: $mb-2;
    // overflow-x: hidden;
    padding-left: $mb-2;
    li {
      position: relative;

      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-right: 0;
        border-left: 8px solid $green;
        z-index: 1;
        left: -20px;
        margin-top: $mb-0-25;
      }
    }
  }
}
.experince {
  //   align-items: center;
  //   max-width: 100%;
}
.timeline {
  position: relative;
  max-width: 50%;
  /* The actual timeline (the vertical ruler) */
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: $slate;
    left: 50%;
    top: 0;
  }

  /* Container around content */
  .container {
    position: relative;
    background-color: rgba($color: $navy, $alpha: 0.5);
    .blur {
      width: 80%;
      height: 80%;
      position: absolute;
      //   border: 1px solid red;
      top: 10%;
      left: 10%;
      z-index: -1;
      background: $navy;
      filter: blur(100px);
    }
    &:not(:first-child) {
      margin-top: -200px;
    }
    &:last-child {
      padding-bottom: $mb-1;
    }
    &:nth-child(2) {
      margin-top: -250px;
    }
    padding: $mb-3;
    .item__title {
      color: $lightest-slate;
      font-size: $fz-xxl;
      margin-bottom: $mb-0-5;
    }
    .item__time {
      color: $light-slate;
      font-size: $fz-sm;
      font-family: $second-font;
      margin-bottom: $mb-2;

      font-weight: $font-regular;
    }
    .item__location {
      font-size: $fz-md;
      margin-bottom: $mb-0-25;
    }

    .item__list {
      margin-left: $mb-1;

      li {
        position: relative;
        margin-bottom: $mb-1;
        &:before {
          position: absolute;
          left: -$mb-1;
          top: $mb-0-5;
          content: "";
          border-color: $green;
          border: 3px solid transparent;
          border-right: 0;
          border-left: 6px solid $green;
        }
      }
    }
    /* The circles on the timeline */
    &:after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $green;
      top: 25%;
      z-index: 1;
      border: 2px solid $white;
    }
  }

  /* Place the container to the left */
  .left {
    /* Add arrows to the left container (pointing right) */
    position: relative;
    left: -50%;
    &:before {
    }
    &:after {
      right: -$mb-0-75;
    }
  }

  /* Place the container to the right */
  .right {
    position: relative;
    left: 50%;

    &:before {
    }
    /* Fix the circle for containers on the right side */
    &:after {
      left: -$mb-0-75;
    }
  }

  /* The actual content */
  .content {
    // padding: 20px 30px;
    // background-color: white;
    // position: relative;
    // border-radius: 6px;
  }
}
.projects {
  position: relative;
  .inner {
    height: 100%;
  }
  .projects-list {
    display: flex;
    gap: 20px;
    padding: 0 0 12% 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    border-radius: $border-radius;
    position: relative;
    height: 100%;
    scrollbar-width: 0none;
    &::-webkit-scrollbar {
      display: none;
    }
    .project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 0 0 100%;
      height: 100%;
      scroll-snap-align: center;
      scroll-snap-stop: always;
      scroll-padding: 0 0 0 $mb-3;
      font-size: 1.5rem;
      position: relative;
      &:hover {
        .project-info {
          animation: down 0.5s ease-in-out forwards;
        }
      }
      .wrapper {
        box-shadow: 0 10px 30px -15px $navy-shadow;
        transition: $transition;
        position: relative;
        // &:after {
        //   content: "";
        //   position: absolute;
        //   width: 100%;
        //   height: 100%;
        //   top: 0;
        //   left: 0;
        //   z-index: 1;
        //   background-color: $green;
        //   mix-blend-mode: multiply;

        //   //   opacity: 0.5;
        // }
        &:hover {
          box-shadow: 0 20px 30px -15px $navy-shadow;
        }
        .project-image {
          width: 100%;
          height: 100%;
          //   background-color: $green;
          border-radius: $border-radius;
          vertical-align: middle;
          position: relative;
          .green-filter {
            position: relative;
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              z-index: 1;
              background-color: $green;
              mix-blend-mode: multiply;
              transition: $transition;
            }
            &:hover {
              &:after {
                opacity: 0;
              }
              img {
                filter: none;
              }
            }
            img {
              transition: $transition;
              filter: hue-rotate(100deg) grayscale(100%) contrast(1)
                brightness(100%);
              border-radius: $border-radius;
            }
          }
        }
      }
      .project-info {
        position: absolute;
        padding: $mb-2;
        border-radius: $border-radius;
        z-index: 9;
        transition: $transition;
        animation: up 0.5s ease-in-out forwards;
        background: $light-navy;
        box-shadow: 0 20px 30px -15px $navy-shadow;
        width: 85%;
        .project-title a {
          color: $lightest-slate;
          transition: $transition;
          &:hover {
            color: $green;
          }
        }
        .project-description {
          color: $lightest-slate;
          font-size: $fz-xl;
          margin-top: $mb-1;
          font-weight: $font-regular;
        }
        .project-technologies {
          display: flex;
          gap: $mb-1;
          margin-top: $mb-1;
          span {
            font-family: $second-font;
            font-size: $fz-sm;
          }
        }
        .links {
          //   border: 1px solid $green;
          position: absolute;
          right: $mb-2;
          bottom: $mb-1;
          display: flex;
          gap: $mb-1;
          a {
            width: 32px;
            height: 32px;
            &:first-child {
              content: url("/assets/images/github_white.svg");
              &:hover {
                content: url("/assets/images/github_green.svg");
              }
            }
            &:nth-child(2) {
              content: url("/assets/images/link_white.svg");
              &:hover {
                content: url("/assets/images/link_green.svg");
              }
            }
          }
        }
      }
    }
  }
}

.articles {
  position: relative;

  .articles-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5% 0;
    border-radius: 5px;
    position: relative;
    height: 100%;
    .article {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 0 0 100%;
      height: 100%;
      font-size: 1.5rem;
      position: relative;
      gap: $mb-2;
      .wrapper {
        width: 60%;
        box-shadow: 0 10px 30px -15px $navy-shadow;
        transition: $transition;
        position: relative;
        &:hover {
          box-shadow: 0 20px 30px -15px $navy-shadow;
        }
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 0;
          background-color: $green;
          mix-blend-mode: multiply;
          transition: $transition;
        }
        &:hover {
          &:after {
            opacity: 0;
          }
          img {
            filter: none;
          }
        }
        img {
          transition: $transition;
          filter: hue-rotate(100deg) grayscale(100%) contrast(1)
            brightness(100%);
        }
      }
      .article-info {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 60%;
        // gap: $mb-1;
        .site {
          font-family: $second-font;
          font-size: $fz-xl;
          color: $green;
          margin-bottom: $mb-1;
        }
        a {
          color: $white;
          transition: $transition;
          &:hover {
            color: $green;
          }
        }
      }
      .article-description {
        box-shadow: 0 10px 30px -15px $navy-shadow;
        font-size: $fz-lg;
        background: $navy;
        padding: $mb-2;
        border-radius: $border-radius;
      }
    }
  }
}

.contact {
  .inner {
    width: 100%;
  }
  width: 100%;
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: $mb-2;
  }

  &-form {
    background: $navy;
    flex: 2;
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      gap: $mb-2;
    }
    .head {
      display: flex;
      gap: $mb-2;
      .form-group {
        display: flex;
        flex-direction: column;
        gap: $mb-0-5;
        font-size: $fz-xl;
        flex: 1;
      }
    }
    .form-group {
      display: flex;
      flex-direction: column;
      gap: $mb-0-5;
      font-size: $fz-xl;
      flex: 1;
    }
    input,
    textarea {
      padding: $mb-0-5 $mb-0-5;
      font-size: $fz-md;
      font-family: $second-font;
      background: none;
      border: 1px solid $slate;
      color: $green;
      border-radius: $border-radius;
      resize: none;
      transition: $transition;
      &:focus {
        outline: none;
        border: 1px solid $green;
      }
      &:active {
        border: 1px solid $green;
      }
    }
    textarea {
      height: 200px;
    }
    .btn {
      margin-top: 0;
    }
  }
  &-info {
    background: $navy;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: $mb-2 0;
    gap: $mb-2;
    .contact-info-item {
      display: flex;
      gap: $mb-2;
      font-family: $second-font;
      color: $green;
      .contact-info-item-icon {
        flex: 1;
        width: 32px;
      }
    }
  }
}
.footer {
  width: 100%;
  scroll-snap-align: end;
  //   background: ;
  a {
    position: relative;
    background: $navy;
    cursor: url("/assets/images/pointer.png"), auto;

    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 180%;
      top: -22px;
      left: 0;
      background-color: $green;
      mix-blend-mode: multiply;
      clip-path: circle(55%);
    }
    img {
      filter: grayscale(100%) contrast(1) brightness(100%);
      transition: $transition;
    }
    transition: $transition;
    &:hover {
      &:after {
        opacity: 0;
      }
      img {
        filter: none;
        cursor: url("/assets/images/pointer.png"), auto;
        transform: translateY(-10px);
      }
    }
  }
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-family: $second-font;
  font-size: $fz-md;
  margin-top: $mb-2;
  a {
    margin-left: $mb-0-5;
  }
}
@keyframes down {
  from {
    bottom: 100px;
  }
  to {
    bottom: -100px;
  }
}
@keyframes up {
  from {
    bottom: -100px;
  }
  to {
    bottom: 100px;
  }
}
